main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../material/thankyou.jpg");
    background-size: cover;
    background-position: center;
}

.image {
    background: url("../material/success.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
}

.payment-success {
    color: white;
}

.redirecting {
    color: rgba(252, 162, 17, 0.85);
    text-align: center;
}